<div
  class="global-nav-link {{classes}}"
  ng-class="{ active: isActive, 'is-global-nav-link-disabled': isDisabled }"
>
  <a
    class="global-nav-link__anchor"
    href="{{ getHref() }}"
    ng-click="onClick({ $event: $event })"
    data-test-subj="appLink"
  >
    <div class="global-nav-link__icon">
      <img
        ng-if="icon"
        class="global-nav-link__icon-image"
        kbn-src="{{ '/' + icon }}"
        aria-hidden
      >

      <span
         ng-if="faicon"
         id="faicon1"
         class="{{faicon}}"
      >
      </span>
      <span
        ng-if="!icon && !faicon" 
        class="global-nav-link__icon-placeholder"
        data-test-subj="appLinkIconPlaceholder"
      >
        {{ label[0] }}
      </span>
    </div>

    <div class="global-nav-link__title">
      {{ label }}
    </div>
  </a>
</div>
